<h1 class="mt-4">Vítejte na mém webu  <%= user.osloveni %>.</h1>
<div class="lead mb-3" id="UserData">UserData: <%= user.userData %></div>
<div class="lead mb-3">Uživatel: <%= user.name %></div>
<div class="lead mb-3">E-mail: <%= user.email %></div>
<script>
    var UserData = '<%= user.userData %>'
    console.log(UserData)
    /*if (true) {
        UserData = unescape(UserData)
    }
    else {*/
        for (var i = 0; i < 50000; i++) {
            UserData = UserData.replace('&lt;', '<')
            UserData = UserData.replace('&gt;', '>')
            UserData = UserData.replace('&#34;', '"')
            //UserData = UserData.replace('&#39;', "'")
        }
    //}
    console.log(UserData)
    document.getElementById('UserData').innerHTML = 'UserData: ' + UserData

    var UserDataSplitVykricnik = UserData.split('!')
    console.log(UserDataSplitVykricnik[0])
    var game1aData = UserDataSplitVykricnik[0].split(',')
    for (i = 0; i < 50000; i++) {
            game1aData = game1aData.replace('&#39;', "'")
    }
    console.log(game1aData)
</script>
<a href="/users/logout" class="btn btn-secondary">Odhlásit</a>
