<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <% include ./partials/messages %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Jméno</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Napište jméno"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="osloveni">Zadejte oslovení</label>
          <br>
          Vítám
          <input
            type="osloveni"
            id="osloveni"
            name="osloveni"
            class="form-control"
            placeholder="Vaše jméno v nálež. tvaru"
            value="<%= typeof osloveni != 'undefined' ? osloveni : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Napište váš E-mail"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Heslo (ne do E-mailu)</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Vytvořte heslo..."
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Potvrdit heslo (ne do E-mailu)</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Potvrďte heslo"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <div class="form-group" style="visibility: hidden">
          <label for="userData">userData</label>
          <input
            type="hidden"
            id="userData"
            name="userData"
            class="form-control"
            placeholder="userData"
            value="<%= typeof userData != 'undefined' ? userData : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Zaregistrovat
        </button>
      </form>
      <p class="lead mt-4">Máte účet? <a href="/users/login">Přihlašte se</a></p>
    </div>
  </div>
</div>
